bin/
obj/
obj/project.assets.json
obj/project.nuget.cache
obj/Quercus.csproj.nuget.dgspec.json
obj/Quercus.csproj.nuget.g.props
obj/Quercus.csproj.nuget.g.targets
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/Quercus.assets.cache
obj/Debug/net8.0/Quercus.csproj.FileListAbsolute.txt
