bin/Debug/net8.0/Quercus.dll
obj/Debug/net8.0/Quercus.GeneratedMSBuildEditorConfig.editorconfig
bin/Debug/net8.0/Quercus.exe
bin/Debug/net8.0/Quercus.pdb
obj/Debug/net8.0/Quercus.AssemblyInfo.cs
obj/Debug/net8.0/Quercus.AssemblyInfoInputs.cache
obj/Debug/net8.0/Quercus.assets.cache
obj/Debug/net8.0/Quercus.csproj.AssemblyReference.cache
obj/Debug/net8.0/Quercus.GeneratedMSBuildEditorConfig.editorconfig
